includes:
    - vendor/symplify/phpstan-rules/config/services/services.neon
parameters:
    level: 7
    paths:
       - Test
services:
    -
        class: Symplify\PHPStanRules\Rules\CheckParentChildMethodParameterTypeCompatibleRule
        tags: [phpstan.rules.rule]
